---
import './style.scss'
import './responsiveStyle.scss'

import { Social } from '@components/index'
import { email } from '@data/me.json'

import Icon from '@/utils/Icon.astro'
import { AtSign, Letter, ViceAdmira } from '@icons/index'
import { WEB_URL } from '@/utils/consts'
---

<section class='contact section hash-nav' id='contact'>
  <div class='contact-container'>
    <article class='contact-message'>
      <section class='contact-social'>
        <div class='contact-social__info'>
          <h3>Unamos fuerzas</h3>
          <p>
            Para contactarme, elige tu medio preferido o utiliza el formulario.
            Estaré esperando con entusiasmo tu mensaje. 😀🤝
          </p>
        </div>
        <Social showTitle />
      </section>
      <form
        class='contact-form'
        action={`https://formsubmit.co/${email}`}
        method='POST'
        id='formContact'
      >
        <div class='contact-form__field'>
          <input
            type='email'
            name='email'
            tabindex='1'
            placeholder='Ingresa tu correo electrónico'
          />
          <Icon file={AtSign} />
        </div>
        <div class='contact-form__field'>
          <input
            type='search'
            name='subject'
            tabindex='2'
            placeholder='Ingresa el asunto a tratar'
          />
          <Icon file={ViceAdmira} />
        </div>
        <div class='contact-form__field'>
          <textarea
            name='comments'
            rows='7'
            placeholder='Escribe tu mensaje'
            tabindex='3'></textarea>
          <Icon file={Letter} />
        </div>
        <div class='contact-validate error'></div>
        <input
          type='hidden'
          name='_autoresponse'
          value='Mucho gusto estimado/a, he recibido tu mensaje, en breve me comunicare con usted.'
        />
        <input type='hidden' name='_next' value={WEB_URL} />
        <input type='hidden' name='_captcha' value='false' />
        <input type='text' name='_honey' style='display:none' />
        <input type='hidden' name='_template' value='table' />
      </form>
    </article>
    <button class='btn' type='submit'>Enviar mensaje</button>
  </div>
</section>
<script src='./contactScript.ts'></script>
