---
import info from '@data/me.json'
import './style.scss'
import './responsiveStyle.scss'
import { Social } from '@components/index'
---

<header class='section hash-nav' id='main'>
  <section class='header-personalInfo'>
    <h4>Hola 👋 mi nombre es</h4>
    <h1>{info.name}</h1>
    <p>{info.experienceDetail}</p>
    <Social />
  </section>
  <section class='header-additional'>
    <aside class='header-me'>
      <div class='header-me__image'>
        <img src='/me.webp' alt={info.name} loading='lazy' decoding='async' />
        <div class='header-me__text'>
          <h4>{`${info.name} ${info.lastName}`}</h4>
          <a
            title='visita mi GitHub'
            target='_blank'
            rel='noopener noreferrer'
            href={info.githubLink}>{info.atGithub}</a
          >
        </div>
      </div>
      <p>{info.passionRole}</p>
    </aside>
    <ul class='header-additional__container'></ul>
  </section>
</header>
<script src='./headerScript.ts'></script>
