---
import './style.scss'
import './responsiveStyle.scss'
import type workExperiences from '@data/workExperiences.json'
import Icon from '@/utils/Icon.astro'
import { Eye } from '@icons/index'

interface Props {
  history: (typeof workExperiences)[0]
  index: number
}

const { history, index } = Astro.props

const { date, position, url, logo, responsibilities, company } = history
---

<li class='experience-history' data-index={index + 1}>
  <span>{date}</span>
  <h3>{position}</h3>
  <aside class='experience-history__images'>
    <h4>{company}</h4>
    <div>
      <img src='./me.webp' loading='lazy' decoding='async' />
      <a href={url} target='_blank' rel='noopener noreferrer'>
        <img src={`./companies/${logo}.webp`} loading='lazy' decoding='async' />
      </a>
    </div>
  </aside>
  <p>{responsibilities[0]}</p>
  <a href={`experiences/${company}`} class='btn'>
    <p>Saber más...</p>
    <Icon file={Eye} />
  </a>
</li>
