---
import Icon from '@/utils/Icon.astro'
import { Themes } from '@components/index'
import './style.scss'
import {
  GroupOfProjects,
  MaleUser,
  Exterior,
  Internship,
  Mail,
  CloudLink
} from '@icons/index'

interface Props {
  useHttp?: boolean
}

const itemsNav = [
  {
    title: 'Inicio',
    link: 'main',
    file: Exterior
  },
  {
    title: 'Experiencias formativas',
    link: 'experiences',
    file: Internship
  },
  {
    title: 'proyectos',
    link: 'projects',
    file: GroupOfProjects
  },
  {
    title: 'Acerca de mi',
    link: 'about',
    file: MaleUser
  },
  {
    title: 'Hablemos',
    link: 'contact',
    file: Mail
  }
]

const { useHttp } = Astro.props
---

<nav>
  <Themes />
  <ul class='nav-items' id='nav-links-container'>
    {
      itemsNav.map(({ file, title, link }) => {
        const linkAnchor = `${useHttp ? '/' : ''}#${link}`
        return (
          <li title={title} class='nav-item'>
            <a href={linkAnchor} class='hash-link' data-link={link}>
              <Icon file={file} />
            </a>
          </li>
        )
      })
    }
    <div class='nav-border'></div>
  </ul>
  <a title='CV' target='_blank' rel='noopener noreferrer' href=''>
    <Icon file={CloudLink} />
  </a>
</nav>
<script src='./navScript.ts'></script>
