---
import Icon from '@/utils/Icon.astro'
import './style.scss'
import themes from '@data/themes.json'

import {
  PaintPalette,
  GroupOfProjects,
  MaleUser,
  Exterior,
  Internship,
  Mail,
  CloudLink
} from '@icons/index'

const itemsNav = [
  {
    title: 'Inicio',
    link: 'main',
    file: Exterior
  },
  {
    title: 'Experiencias formativas',
    link: 'experiences',
    file: Internship
  },
  {
    title: 'proyectos',
    link: 'projects',
    file: GroupOfProjects
  },
  {
    title: 'Acerca de mi',
    link: 'about',
    file: MaleUser
  },
  {
    title: 'Hablemos',
    link: 'contact',
    file: Mail
  }
]
---

<nav>
  <div class='nav-themes'>
    <button title='Escoger tema' id='theme-selector'
      ><Icon file={PaintPalette} /></button
    >
    <ul class='nav-theme' id='nav-themes'>
      {
        themes.map(({ title, colors }) => (
          <li
            class='nav-theme__item'
            title={title}
            style={`--theme-color: linear-gradient(to right, ${colors['bg-fondo-1']}, ${colors['bg-normal']})`}
          >
            <button id='theme-item' />
          </li>
        ))
      }
    </ul>
  </div>
  <ul class='nav-items' id='nav-links-container'>
    {
      itemsNav.map(({ file, title, link }) => (
        <li title={title} class='nav-item'>
          <a href={`#${link}`} class='hash-link' data-link={link}>
            <Icon file={file} />
          </a>
        </li>
      ))
    }
    <div class='nav-border'></div>
  </ul>
  <a title='CV' target='_blank' rel='noopener noreferrer' href=''
    ><Icon file={CloudLink} /></a
  >
</nav>

<script src='./themes.ts'></script>
<script src='./navScript.ts'></script>
